<form class="login-form" novalidate>
    {{#each inputs}}
        <div id="{{this.name}}">
            <input maxlength="100" type="{{this.type}}" placeholder="{{this.placeholder}}" name="{{this.name}}">
            <div class="warning" id="warn_{{this.name}}">{{this.warn}}</div>
        </div>
    {{/each}}

    <div id="login">
        <div class="warning" id="warn_login"></div>
        <button id="login" type="submit">Войти</button>
    </div>

    <div id="signup">
        <div class="warning" id="warn_signup"></div>
        <button id="signup">Зарегистрироваться</button>
    </div>
</form>
