<form class="login-form" novalidate>
    {{#each inputs}}
        <div>
            <input type="{{this.type}}" placeholder="{{this.placeholder}}" name="{{this.name}}">
            {{#unless ../isLogin}} <div class="warning" id="{{this.name}}">{{this.warn}}</div> {{/unless}}
        </div>
    {{/each}}

    {{#if isLogin}}
        <div class="warning"></div>
        <button type="submit">Войти</button>
        <a href="/signup">
            <button name="signup">Зарегестрироваться</button>
        </a>
    {{else}}
        <div class="warning" id="signup"></div>
        <button name="signup" {{#unless isLogin}} type="submit" {{/unless}}>Зарегестрироваться</button>
    {{/if}}
</form>
